{% extends 'dashboardbase.html' %}


{% block content %}
<style>
    @media (max-width: 768px) {
  #myTable th:nth-child(3), #myTable td:nth-child(3){
    display: none;
  }
}
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Delete Institute </h1><br>
      
</div>

<form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this class  {{class_id}}?</p>
    <input type="submit" value="Delete" class = "btn btn-danger">
    <a href="{% url 'dashboard' %}" class = "btn btn-success">Dashboard</a>
    <a href = "{% url 'add_classes' %}" class = "btn btn-warning"><span data-feather="plus"></span>Add Classes</a>
</form>

<hr class = "border border-danger border-2 opacity-50">
    <h1 class="h2 mt-3 text-center">List of Institutions</h1><br>
  



<table class = "table table-hover table-bordered mt-2" id = "myTable">
  <thead>
      <th>Sr. NO.</th>
      <th>Institute Name</th>
      <th>Institute Contact Details</th>
     
      
  </thead>
  <tbody>
    {% for i in class_list %}
    <tr data-href="{% url 'edit_classes' i.id %}"> 
        <td>{{ forloop.counter }}</td>
      <td>{{ i.institute_name }}</td>
      <td>{{ i.institute_contact }}</td>
     
    </tr>
  {% endfor %}

  </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "responsive": true,
            "dom": "f<'clear'>"
        });
        $('tr[data-href]').on("click",function(){
            document.location = $(this).data('href');
        }
        )


    });

</script>



{% endblock %}