{% extends 'dashboardbase.html' %}


{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Reports</h1>
</div>



<div class="list-group">
    <a href="{% url 'classes_list' %}" class="list-group-item list-group-item-action fw-bold">Classes List </a>
    <a href="{% url 'standard_list' %}" class="list-group-item list-group-item-action fw-bold ">Standard List</a>
    <a href="{% url 'subject_list' %}" class="list-group-item list-group-item-action fw-bold ">Subject List </a>
    <a href="{% url 'schedule_list' %}" class="list-group-item list-group-item-action fw-bold ">Schedule List</a>
    <a href="{% url 'classeswise_income' %}" class="list-group-item list-group-item-action fw-bold ">Classeswise Income</a>
    <a href="{% url 'standardwise_income' %}" class="list-group-item list-group-item-action fw-bold ">Standardwise Income</a>
    <a href="{% url 'subjectwise_income' %}" class="list-group-item list-group-item-action fw-bold ">Subjectwise Income</a>
    <a href="{% url 'datewise_income' %}" class="list-group-item list-group-item-action fw-bold ">Datewise Income</a>
  </div>


  <a href="{% url 'dashboard' %}" class = "btn btn-danger mt-5">Dashbaord</a>
{% endblock %}
