{% extends 'dashboardbase.html' %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">  Coming Soon.... </h1>
</div>


<div class="container">

    <ul style="list-style-type:square;">
        <li >Improved UI </li>
        <li > Export to spreadsheet</li>
        <li >Sharing on Whatsapp</li>
        <li >Multi-parameter Reports</li>
        <li > And much more.......</li>
        
      </ul>
</div>

<a href="{% url 'dashboard' %}" class = "btn btn-primary">Dashboard</a>
{% endblock %}




